{% extends "layout.html" %}
{% block content %}
<h1>About this Project</h1>

<label for="method">Word lexicons are commonly used to systematically filter and search large text corpora, to isolate all documents that are related to the selected concept of interest. Using a combination of pre-trained word embeddings, as well as self-developed word recommendation methods, this project evaluates and compares the word recommendations produced from each of these models.  This data is examined to identify the most accurate models to be used and an interactive web interface is implemented, using the purposed word embeddings to create a lexicon recommendation method. This web interface allows for editing of recommended words, improving accuracy of the lexicons for users. Visualizations of the embedding spaces are added to the interface to allow exploration by users of the word embedding models used within this project. This web application was created in part fulfilment of the degree of BSc. (Hons.) in Computer Science with Data Science.</label>
 


{% endblock content %}