{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <form method="Post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class "border-bottom mb-4">Create a Lexicon now!</legend>
          <div class="form-group">
            {{ form.word.label(class="form-control-label") }}

            {% if form.word.errors %}
              {{ form.word(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.word.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.word(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
{% endblock content %}