{% extends "layout.html" %}
{% block content %}
<form action="recommend">
  <h2>Generate a Lexicon!</h2>
  <label for="method">Enter a seed word to create the Lexicon:</label>
  <input type="text" name="keyword" size="50">
  <br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
     {% endfor %}
    {% endif %}
  {% endwith %}
  <br>
  <label for="method">Select a Word Embedding Algorithm:</label>
  <select id="method" name="method">
    <option value="Wiki">Word2Vec - Wikipedia Corpus</option>
    <option value="Google">Word2Vec - Google News Corpus</option>
    <option value="FastText">FastText - Common Crawl Corpus</option>
    <option value="Glove">GloVe - Wikipedia Corpus</option>
    <option value="Ensemble">Ensemble Model - Recommended</option>
  </select>
  <br>
  <label for="num">Select the number of generated words:</label>
  <select id="num" name="num">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6" selected>6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
{% endblock content %}