{% extends "layout.html" %}
{% block content %}
<form action="embeddingvisualizations">
  <h2>Generate Visualization of the Embedding Space!</h2>
  <label for="method">Enter a list of seed words seperated by spaces to create the visualization:</label>
  <input type="text" name="keyword" size="50">
  <br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
     {% endfor %}
    {% endif %}
  {% endwith %}
  <br>
  <label for="method">Select a Word Embedding Model to visualize:</label>
  <select id="method" name="method">
    <option value="Wiki">Word2Vec - Wikipedia Corpus</option>
    <option value="Google">Word2Vec - Google News Corpus</option>
    <option value="FastText">FastText - Common Crawl Corpus</option>
    <option value="Glove">GloVe - Wikipedia Corpus</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
{% endblock content %}